@import "settings";
@import "../bower_components/foundation/scss/foundation";

/* variables */
$primary-blue: rgba(0, 140, 186, 1);

::selection {
	background: $primary-blue;
	color: rgba(255, 255, 255, 1);
}
::-moz-selection {
	background: $primary-blue;
	color: rgba(255, 255, 255, 1);
}

.portrait {
	margin-top: 25px;
}

.portrait img {
	max-width: 15em;
	height: auto;
	border-radius: 145px;
	margin: 10px 0;
	border: 5px solid $primary-blue;
}